*{
    box-sizing: border-box;
}

#calculator{
    border: black 3px solid;
    background-color: burlywood;
    width: 400px;
    margin:0 auto 0 auto;
    padding: 5px;
    height: 500px;
}

#display{
    background-color: rgb(202, 173, 216);
    margin:18px;
    text-align: end;
    flex-grow:20;
}

#operationShow{
    background-color: pink;
    margin:18px;
    text-align: end;
    flex-grow: 1;
}
.screenBox{
    display: flex;
    flex-direction: row-reverse;
    background-color: red;
}

.calcButtons{
    background-color: cadetblue;
    border:black 3px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:400px;
    
}

.numInputs{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-grow: 3;
}

.operands{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex-grow: 1;
}
button{
    height:50px;
    width:50px;
}